@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    padding: 0;
    background-color: red;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: 0px;
}

.shark {
    mix-blend-mode: hard-light
}

.gradient-text {
    background: linear-gradient(to right, #c8d6da, #14a5c5, #0f4f5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 40px 50px rgb(60 170 197);
    font-weight: bold;
}

.sharkSpecie {
    filter: contrast(100%);
    filter: brightness(40%);
    mix-blend-mode: luminosity;
}

.sharkSpecieLi::after {
    content: "";
    position: relative;
    width: 30px;
    background-color: white;
    height: 30px;
    border-radius: 100%;
    top: 0px;
    right: 0px;
    transform: translate(0.3em, -1.5em)
}

.demon::before {
    content: "";
    position: absolute;
    width: 30px;
    background-color: white;
    height: 30px;
    border-radius: 100%;
    top: 18%;
    left: 9%;
}